<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
<h1>Client Credentials Grant</h1>
{{if ne .error ""}}
    <p>I tried to get a token but received an error: {{.error}}</p>
{{else}}
    <p>
        Awesome, you just received an access token!<br>
        <br>
        {{.accessToken}}<br>
        <br>
        <strong>more info:</strong><br>
        <br>
        {{.token}}
    </p>
    <p><a href="/">Go back</a></p>
{{end}}
</body>
</html>
