<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
<p>You can obtain an access token using various methods</p>
<ul>
    <li>
        <a href="{{.authLinkURL}}">Authorize code grant (with OpenID Connect)</a>
    </li>
</ul>
</body>
</html>
