# Virtualenv
# https://github.com/github/gitignore/blob/master/Global/VirtualEnv.gitignore
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json


# misc
.idea/
