<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
<ul>
    <p>Howdy! This is the log in page. For this example, it is enough to supply the username.</p>
    <form method="post">
        <p>
            By logging in, you consent to grant these scopes:
        <ul>
            {{range $scope := .scopes}}
                <li><input type="checkbox" name="scopes" value="{{$scope}}">{{$scope}}</li>
            {{end}}
        </ul>
        </p>
        <input type="submit">
    </form>
</ul>
</body>
</html>
