{{- /*gotype: github.com/vvakame/til/grpc/grpc-gqlgen/cmd/protoc-gen-gqlgen.FileInfo*/ -}}
package {{ .GoPackageName }}

import (
    "context"
    "fmt"
    "io"
    "strconv"

    "github.com/99designs/gqlgen/graphql"
)
